
<form (ngSubmit)="onSubmit()">
 <h2 class="mb-2">Ajouter des citations</h2>
 <div class="mb-3">   
    <label for="username" class="form-label">id</label>   
    <input type="number" name="username"  class="form-control" ngModel required>
 </div>
 <div class="mb-3">   
    <label for="username" class="form-label">author</label>   
    <input type="text" name="username"  class="form-control" ngModel required>
 </div>
 <div class="mb-3">  
    <label for="username" class="form-label">year</label>     
    <input type="number" name="password" class="form-control"  ngModel required>
 </div>
 <div class="mb-3">   
    <label for="username" class="form-label">category</label>   
    <input type="text" name="username"  class="form-control" ngModel required>
 </div>
 <div class="mb-3">   
    <label for="username" class="form-label">rating</label>   
    <input type="number" name="username"  class="form-control" ngModel required>
 </div>
 <div class="mb-3">   
    <label for="username" class="form-label">image</label>   
    <input type="text" name="username"  class="form-control" ngModel required>
  </div>
 <div class="mb-3">   
    <button type="submit" class="btn btn-primary">Submit</button>
 </div>
</form>
