<nav class="navbar navbar-expand-lg bg-secondary p-2 text-white bg-opacity-70">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">Human Booster</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active text-white" aria-current="page" routerLink="/">Accueil</a>
          <a class="nav-link text-white" routerLink="apropos">descriptif</a>
          <a class="nav-link text-white" routerLink="creation-de-citations">Formulaire</a>
        </div>
      </div>
    </div>
  </nav>


